.cardBook{
    background-color: rgb(230, 231, 231);
    padding: 12px;
    color: black;
    width: 700px;
    border-radius: 5px;
    margin: 14px;
    border-radius: .25rem;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,.25);
}
.cardBook h2, .cardBook  h4{
    margin: 5px;
}
.buttons{
    display: flex;
    justify-content: end;
}
.buttons button{
    margin-left: 10px;
}