/* Navbar.css */
footer {
    background-color: #3333334e;
    padding: 0.2em;
    z-index: 2;
    position: relative;
    box-shadow: 1px 1px 5px #00000080;
}
  
ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
  
li {
    display: inline;
    margin: 0px 10px 0px 10px;
}
  
a {
    color: white;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  