/* Navbar.css */
footer {
    background-color: #3333334e;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px 20px 80px;
    box-shadow: 0px -5px 5px #00000080;
}
footer div{
    width: 20%;
}
footer h4{
    margin: 5px;
    margin-left: 0px;
}
footer a{
    display: block;
}
footer p{
    margin: 3px;
    word-wrap: break-word;
}

@media (width <= 500px) {
    footer {
        background-color: #3333334e;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0px 0px 0px;
        box-shadow: 0px -5px 5px #00000080;
    }
}

@media ( 500px <= width <= 1100px) {
    footer {
        background-color: #3333334e;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0px 0px 0px;
        box-shadow: 0px -5px 5px #00000080;
    }
}
