.searchSection{
    width: 52vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.searchSection h2{
    text-align: start;
}
.searchCategories{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}
.searchSection form{
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.searchSection form input{
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 8px;
}
.searchCategories a{
    cursor: pointer;
}
