.resultsSection {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-left: 52vh;
    padding-bottom: 20px;
    background-color: white;
    min-height: 98vh;
    z-index: 1;
}

.resultsSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2; /* Ajusta la opacidad según tus necesidades */
    z-index: -1;
}
.resultsSection h2{
    color: black;
}
.resultsSection h3{
    margin-top: 0px;
    color: black;
    text-align: start;
}
.tileResultSection{
    text-align: center;
}
@media (width <= 500px) {
    .resultsSection{
        margin-left: 0px;
        padding-bottom: 20px;
        min-height: 90vh;
    }
}
@media  (501px <= width <= 900px) {
    .resultsSection{
        margin-left: 0px;
        padding-bottom: 20px;
        min-height: 90vh;
    }
}