/* Navbar.css */
nav {
    background-color: #1f1f1fb0;
    padding: 0px;
    z-index: 3;
    position: relative;
    box-shadow: 0px 1px 5px #00000080;
    display: flex;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
  
ul {
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: center;
    margin: 0px;
}
  
li {
    margin: 0px 15px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 65px;
    height: 65px;
    margin-left: 40px;
    margin-right: 40px;
}
a {
    color: white;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
.off{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 130px;
}

@media (width < 620px) {
    nav{
        display: block;
    }
    .logo{
        margin-left: 0px;
        width: 50px;
        height: 50px;
    }
    .navbar-links{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .navbar-links li{
        margin: 0px;
    }
    nav .off {
        height: 0px;
        opacity: 0;
        display: block;
        transition: 500ms;
        padding: 0px;
        margin: 0px;
    }
    nav .on{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .off li{
        display: none;
    }
    .on {
        max-height: 80px;
        opacity: 1;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0px;
    }
    #buttonToggle{
        background-color: rgba(0, 0, 6, 0);
        margin: 0px;
        padding: 0px;
        border: none;
        border-radius: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #buttonToggle svg{
        width: 40px;
        height: 35px;
    }
    .menuRotated{
        transform: rotate(90deg);
        transition: 500ms;
      } 
      .menuNoRotated{
        transform: rotate(0deg);
        transition: 500ms;
      }
}
@media (621px< width < 900px) {
    .off{
        margin-right: 40px;
    }
}
@media (min-width: 601px) {
    #buttonToggle{
      display: none;
    }
}
  